@tailwind base;
@tailwind components;
@tailwind utilities;

/* slick slider buttons */

.slider .slick-prev.slick-arrow {
    transform: translate(-50%, -50%)!important;
    top: -32%!important;
    left: 95%!important;
    @media screen and (min-width: 360px) {
        top: -18%!important;
        left: 85%!important;
    }
    @media screen and (min-width: 640px) {
        top: -22%!important;
        left: 90%!important;
    }
    @media screen and (min-width: 768px) {
        top: -23%!important;
        left: 90%!important;
    }
    @media screen and (min-width: 820px) {
        top: -28%!important;
        left: 90%!important;
    }
    @media screen and (min-width: 1024px) {
        top: -38%!important;
        left: 90%!important;
    }
}

.slider .slick-next.slick-arrow {
    transform: translate(-50%, -50%)!important;
    top: -32%!important;
    left: 97%!important;
    @media screen and (min-width: 360px) {
        top: -18%!important;
        left: 95%!important;
    }
    @media screen and (min-width: 640px) {
        top: -22%!important;
        left: 95%!important;
    }
    @media screen and (min-width: 768px) {
        top: -23%!important;
        left: 95%!important;
    }
    @media screen and (min-width: 820px) {
        top: -28%!important;
        left: 95%!important;
    }
    @media screen and (min-width: 1024px) {
        top: -38%!important;
        left: 95%!important;
    }
}

.slider .slick-prev:before{
    content: "<"!important;
    cursor: pointer!important;
    display: inline-block!important;
    height: 30px!important;
    width: 30px!important;
    color: #ffff!important;
    font-size: 30px!important;
    font-weight: 900!important;
    opacity: 1!important;
}

.slider .slick-next:before{
    content: ">"!important;
    cursor: pointer!important;
    display: inline-block!important;
    height: 30px!important;
    width: 30px!important;
    color: #ffff!important;
    font-size: 30px!important;
    font-weight: 900!important;
    opacity: 1!important;
}

header nav div[data-state="open"]{
    padding: 5px 110px 5px 110px;
}

.headSlider .slick-list div div{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    padding: 10px 0px 10px 0px!important;
}

